.input-wrapper {
    position: relative;
}

::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator {
    position: absolute;
    top: calc(50% + 2px);
    right: 5px;
    width: 22px;
    height: 24px;
    color: rgba(0, 0, 0, 0);
    background: url("./../../images/date.svg") no-repeat;
    transform: translateY(-50%);
    opacity: 1;  
}

input[type="date"] + span {
    display: block;
}
